body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #d6bd98;
  color: #1A3636;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #40534C;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
  color: #40534C;
}

.description {
  text-align: center;
  margin: 0 0 20px;
  color: #40534C;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #677D6A;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  color: #1A3636;
}

select:focus {
  outline-color: #1A3636;
}

#results ul {
  list-style: none;
  padding: 0;
}

#results h2 {
  color: #40534C;
  margin-top: 20px;
  font-weight: 400;
}

#results li {
  background: #677D6A;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  color: #ffffff;
}

#results h3 {
  margin: 0 0 5px;
  font-size: 18px;
  color: #d6bd98;
}

#results p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}
